
.view-salary-container {
  background-color: #3C4040;
  height: auto;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
}

.link-container-view {
  display: flex;
  justify-content: space-between;
}

.nav {
  color: white;
}

.view-salary-title {
  color: white;
}

.view-salary-cards {
  display: flex;
  flex-wrap: wrap;
}
