
.home-container {
  background-color: #3C4040;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.link-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: 4px solid #48a9b6;
  flex-direction: column;
  width: 60%;
}

.description {
  font-size: 30px;
  margin-top: 15px;
  width: 85%;
}

.button-area {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 15px 0px;
}

.home-nav {
  background-color: black;
  color: #48a9b6;
  font-size: 20px;
}

.home-nav:hover {
  background-color: #3C4040;
}
